@model IEnumerable<AlKav2.Models.Confectionery>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Confectionary sale</title>
</head>
<body style="background:#dc9696;color:#000000">
    <h3>Board</h3>
    <table>
        <tr>
            <td><b>Type</b></td>
            <td><b>Producer</b></td>
            <td><b>Image</b></td>
            <td><b>Shelf life</b></td>
            <td><b>Price</b></td>
        </tr>
        @foreach (var confectionery in Model)
        {
            <tr>
                <td>@confectionery.Name&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>@confectionery.Producer&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><img width="50" height="50" src="@confectionery.Image" /></td>
                <td>@confectionery.ShelfLife&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>@confectionery.Price&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href="~/Home/Buy/@confectionery.Id">Buy</a></td>
            </tr>
        }
    </table>
</body>
</html>